@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

html, body {
    font-family: 'Roboto Mono', monospace;
    background: #212121;
    color: #FAFAFA;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/* Navbar styling */
.navbar {
    background-color: #333;
    padding: 14px 16px;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.flag {
    width: 25px;
    height: auto;
    margin-right: 8px;
}

.navbar-left span {
    color: #f2f2f2;
    font-size: 16px;
}

.navbar-right a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    white-space: nowrap;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
}

.navbar-right a:hover {
    background-color: #ddd;
    color: black;
}

/* Main container styling */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px; /* Increased space below navbar */
    text-align: center;
}

.education-section, .graduation-project {
    max-width: 1100px;
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    background: #333;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Flex container styling */
.flex-container {
    display: flex;
    align-items: flex-start;
}

.text-content {
    flex: 1;
    text-align: left;
}

.education-details, .project {
    text-align: left;
}

.university-logo, .project-logo {
    width: 150px; /* Increase the size of the logo */
    height: 150px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%; /* Make the logo circular */
}

.education-image, .project-screenshot {
    flex: 1;
    max-width: 50%; /* Reduce the size of the images */
    height: auto;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.final-dissertation {
    margin-top: 20px;
}

.highlight {
    font-weight: 900; /* Make the word 'HERE' bolder */
    text-decoration: underline; /* Keep the underline */
}

/* Additional styling for CASNOS logo */
.casnos-logo {
    width: 150px; /* Increase the size of the CASNOS logo */
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 50%; /* Make the logo circular */
}
