
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
/* General Styles */
/* General Styles */
html, body {
    font-family: 'Roboto Mono', monospace;
    background: #212121;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* Navbar styling */
.navbar {
    background-color: #333;
    padding: 14px 16px;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.flag {
    width: 25px;
    height: auto;
    margin-right: 8px;
}

.navbar-left span {
    color: #f2f2f2;
    font-size: 16px;
}

.navbar-right a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    white-space: nowrap;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
}

.navbar-right a:hover {
    background-color: #ddd;
    color: black;
}

/* Main container styling */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px; /* Increased space below navbar */
    text-align: center;
}

.education-section, .graduation-project {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    background: #333;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.university, .education-details, .project {
    text-align: left;
}

.university-logo, .project-logo {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.education-image, .project-screenshot {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.final-dissertation {
    margin-top: 20px;
}
