@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

html, body {
    font-family: 'Roboto Mono', monospace;
    background: #212121;
    height: 100%;
    margin: 0;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    padding: 14px 16px; /* Ensure the navbar has padding */
    position: fixed; /* Make the navbar fixed */
    width: 100%; /* Stretch the navbar across the width */
    top: 0; /* Stick the navbar to the top */
}

.navbar a {
    float: center;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 50px); /* Adjust height for the navbar */
    padding-top: 60px; /* Add space below the fixed navbar */
}

.text {
    font-weight: 100;
    font-size: 28px;
    color: #FAFAFA;
    margin-top: 15px; /* Add space between elements */
}
.dud {
    color: #757575;
}

.timeline { max-width: 100%; height: auto; margin-top: 20px;  /* Add some spacing from the top element */ 
display: block; margin-left: 
    auto; margin-right: auto; }
